<h4><span class="badge badge-pill badge-primary" (click)="create()">Create</span></h4>
<div class="mat-elevation-z8">
  <table mat-table cdkDropList (cdkDropListDropped)="drop($event)" [dataSource]="dataSource">
    <ng-container matColumnDef="dragDrop">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let dragDrop">
        <mat-icon fontSet="fa" fontIcon="fa-align-justify"></mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let student"> {{student.id}} </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let student"> {{student.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let student">{{student.phone}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let student">{{student.status}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row; let i = index">
        <button mat-icon-button color="primary" tabindex="-1">
          <mat-icon fontSet="fa" fontIcon="fa-edit" (click)="edit(row)"></mat-icon>
        </button>
        <button mat-icon-button color="warn" tabindex="-1">
          <mat-icon fontSet="fa" fontIcon="fa-trash" (click)="delete(i)"></mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" cdkDrag></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20]"></mat-paginator>
</div>